################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
*.exe
*.txt
**/obj
**/bin
**/.vs